.thumbnail {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.video-title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 4px;
  line-height: 22px;
  font-weight: 500;
  cursor: pointer;
}

.video-uploader {
  color: rgb(96, 96, 96);
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 4px;
  cursor: pointer;
}

.video-stats {
  color: rgb(96, 96, 96);
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 20px;
}

.uploader-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-picture {
  border-radius: 50%;
  width: 40px;
  cursor: pointer;
}

.thumbnail-div {
  margin-bottom: 4px;
  position: relative;
}

.video-time {
  background-color: rgba(06, 06, 06, 0.8);
  color: white;
  font-weight: 500;
  border-radius: 5px;
  padding: 3px 3px 3px 3px;
  position: absolute;
  bottom: 8px;
  right: 4px;
  font-size: 12px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
}

@media (max-width: 767px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1440px){
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}